
    <div class="container">
        <div class="logo">
            <a href="#"><img src="tesla.jpg" alt="Restaurant Logo"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <span routerLink = "/prod-a-aboutus"> About Us</span>
                <span routerLink = "/prod-a-menu"> Menu</span>
                <span routerLink = "/prod-a-location"> Location</span>
                <span routerLink = "/prod-a-reservation"> Reservation</span>
            </ul>
        </nav>
        <a href="https://www.google.com" class="btn">Go To Google</a>
    </div>

