/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: cornflowerblue;
}

header {
    background: #222;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 120px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links span {
    margin: 0 55px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links span:hover {
    color: #f39c12;
}

.btn {
    background: #f39c12;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #e67e22;
}
