header{
    display:flex;
    padding-inline: 16 px;
    padding-block: 8 px;
    background-color: #555;
    color: white;
    align-items: center;
    justify-content: space-between;
}

p {
    text-align: center;
}
